version: 2.1

integration_test_filters: &integration_test_filters
  branches:
    ignore: /.*/
  tags:
    only: /(integration|master)-.*/

orb_promotion_filters: &orb_promotion_filters
  branches:
    ignore: /.*/
  tags:
    only: /^(major|minor|patch)-release-v\d+\.\d+\.\d+$/

orbs:
  aws-eks: circleci/aws-eks@0.2.1
  cli: circleci/circleci-cli@0.1.2
  helm: circleci/helm@dev:alpha
  kubernetes: circleci/kubernetes@0.2.0
  orb-tools: circleci/orb-tools@7.3.0
  queue: eddiewebb/queue@1.1.2

jobs:
  helm-client-install-test:
    executor: aws-eks/python
    parameters:
      version:
        type: string
        description: version to install
        default: ""
    steps:
      - helm/install-helm-client:
          version: << parameters.version >>
  install-helm-on-eks-cluster:
    executor: aws-eks/python
    parameters:
      cluster-name:
        type: string
        description: Cluster name
    steps:
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: << parameters.cluster-name >>
          install-kubectl: true
      - helm/install-helm-on-cluster:
          enable-cluster-wide-admin-access: true
  install-helm-chart-on-eks-cluster:
    executor: aws-eks/python
    parameters:
      cluster-name:
        type: string
        description: Cluster name
      helm-version:
        type: string
        default: "v2.16.1"
        description: the helm client version to install. e.g. v2.4.0
      update-repositories:
        description: |
          Choose to update repositories by running helm repo update.
        type: boolean
        default: true
    steps:
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: << parameters.cluster-name >>
          install-kubectl: true
      - helm/install-helm-chart:
          chart: stable/grafana
          release-name: grafana-release
          helm-version: << parameters.helm-version >>
          update-repositories: << parameters.update-repositories >>
  upgrade-helm-chart-on-eks-cluster:
    executor: aws-eks/python
    parameters:
      cluster-name:
        type: string
        description: Cluster name
      helm-version:
        type: string
        default: "v2.16.1"
        description: the helm client version to install. e.g. v2.4.0
      update-repositories:
        description: |
          Choose to update repositories by running helm repo update.
        type: boolean
        default: true
    steps:
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: << parameters.cluster-name >>
          install-kubectl: true
      - helm/upgrade-helm-chart:
          chart: stable/grafana
          release-name: grafana-release
          helm-version: << parameters.helm-version >>
          update-repositories: << parameters.update-repositories >>
  delete-helm-release-on-eks-cluster:
    executor: aws-eks/python
    parameters:
      cluster-name:
        type: string
        description: Cluster name
      helm-version:
        type: string
        default: "v2.16.1"
        description: the helm client version to install. e.g. v2.4.0
    steps:
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: << parameters.cluster-name >>
          install-kubectl: true
      - helm/delete-helm-release:
          release-name: grafana-release
          purge: true
          timeout: 600
          helm-version: << parameters.helm-version >>
  pre-orb-promotion-check:
    executor: aws-eks/python2
    steps:
      - checkout
      - run:
          name: Check that this is a master branch commit
          command: |
            git clone "$CIRCLE_REPOSITORY_URL" repository
            cd repository
            git branch --contains ${CIRCLE_SHA1} | grep "master"
  promote-orb-into-production:
    parameters:
      orb-name:
        type: string
        description: |
          Semver-less name of the orb to be promoted into production
      orb-ref:
        type: string
        description: |
          Version information of the orb to be promoted into production
    executor: cli/default
    steps:
      - checkout
      - run:
          name: Promote dev orb to production
          command: |
            RELEASE_TYPE=''
            if [[ "${CIRCLE_TAG}" =~ major-release-* ]]; then
              RELEASE_TYPE='major'
            elif [[ "${CIRCLE_TAG}" =~ minor-release-* ]]; then
              RELEASE_TYPE='minor'
            elif [[ "${CIRCLE_TAG}" =~ patch-release-* ]]; then
              RELEASE_TYPE='patch'
            fi
            if [ -n "${RELEASE_TYPE}" ]; then
              circleci orb publish promote \
              <<parameters.orb-name>>@<<parameters.orb-ref>> \
              ${RELEASE_TYPE} --token \
              ${CIRCLE_TOKEN}
            fi
workflows:
  lint_pack-validate_publish-dev:
    jobs:
      - orb-tools/lint
      - orb-tools/pack:
          requires:
            - orb-tools/lint
      - queue/block_workflow:
          consider-branch: false
          time: "60"
          requires:
            - orb-tools/pack
      - orb-tools/publish-dev:
          orb-name: circleci/helm
          context: orb-publishing
          requires:
            - queue/block_workflow
      - orb-tools/trigger-integration-workflow:
          name: trigger-integration-dev
          ssh-fingerprints: 00:5a:6a:2b:18:ad:a5:ad:0c:7f:40:67:7f:ba:46:4c
          tag: integration
          use-git-diff: false
          static-release-type: patch
          requires:
            - orb-tools/publish-dev
          filters:
            branches:
              ignore: master
      - orb-tools/trigger-integration-workflow:
          name: trigger-integration-master
          ssh-fingerprints: 00:5a:6a:2b:18:ad:a5:ad:0c:7f:40:67:7f:ba:46:4c
          tag: master
          use-git-diff: false
          static-release-type: patch
          requires:
            - orb-tools/publish-dev
          filters:
            branches:
              only: master
  integration-tests:
    jobs:
      - helm-client-install-test:
          name: helm-client-install-specific-version
          version: v2.4.0
          filters: *integration_test_filters
      - helm-client-install-test:
          name: helm-client-install-latest
          filters: *integration_test_filters
      - helm-client-install-test:
          name: helm-client-install-v3
          version: v3.0.0
          filters: *integration_test_filters
      - aws-eks/create-cluster:
          name: create-cluster-helm2
          cluster-name: ${AWS_RESOURCE_NAME_PREFIX}-helm-eks
          filters: *integration_test_filters
      - aws-eks/create-cluster:
          name: create-cluster-helm3
          cluster-name: ${AWS_RESOURCE_NAME_PREFIX}-helm3-eks
          filters: *integration_test_filters
      - install-helm-on-eks-cluster:
          cluster-name: ${AWS_RESOURCE_NAME_PREFIX}-helm-eks
          requires:
            - create-cluster-helm2
          filters: *integration_test_filters
      - install-helm-chart-on-eks-cluster:
          name: install-helm-chart-on-eks-cluster-helm2
          cluster-name: ${AWS_RESOURCE_NAME_PREFIX}-helm-eks
          requires:
            - install-helm-on-eks-cluster
          filters: *integration_test_filters
      - install-helm-chart-on-eks-cluster:
          name: install-helm-chart-on-eks-cluster-helm3
          helm-version: v3.0.0
          cluster-name: ${AWS_RESOURCE_NAME_PREFIX}-helm3-eks
          requires:
            - create-cluster-helm3
          filters: *integration_test_filters
      - upgrade-helm-chart-on-eks-cluster:
          name: upgrade-helm-chart-on-eks-cluster-helm2
          cluster-name: ${AWS_RESOURCE_NAME_PREFIX}-helm-eks
          requires:
            - install-helm-chart-on-eks-cluster-helm2
          filters: *integration_test_filters
      - upgrade-helm-chart-on-eks-cluster:
          name: upgrade-helm-chart-on-eks-cluster-helm3
          helm-version: v3.0.0
          update-repositories: false
          cluster-name: ${AWS_RESOURCE_NAME_PREFIX}-helm3-eks
          requires:
            - install-helm-chart-on-eks-cluster-helm3
          filters: *integration_test_filters
      - delete-helm-release-on-eks-cluster:
          name: delete-helm-release-on-eks-cluster-helm2
          cluster-name: ${AWS_RESOURCE_NAME_PREFIX}-helm-eks
          requires:
            - upgrade-helm-chart-on-eks-cluster-helm2
          filters: *integration_test_filters
      - delete-helm-release-on-eks-cluster:
          name: delete-helm-release-on-eks-cluster-helm3
          helm-version: v3.0.0
          cluster-name: ${AWS_RESOURCE_NAME_PREFIX}-helm3-eks
          requires:
            - upgrade-helm-chart-on-eks-cluster-helm3
          filters: *integration_test_filters
      - aws-eks/delete-cluster:
          name: delete-cluster-helm2
          cluster-name: ${AWS_RESOURCE_NAME_PREFIX}-helm-eks
          wait: true
          requires:
            - delete-helm-release-on-eks-cluster-helm2
          filters: *integration_test_filters
      - aws-eks/delete-cluster:
          name: delete-cluster-helm3
          cluster-name: ${AWS_RESOURCE_NAME_PREFIX}-helm3-eks
          wait: true
          requires:
            - delete-helm-release-on-eks-cluster-helm3
          filters: *integration_test_filters
  # Tag-triggered workflow to promote a dev orb into production.
  # The tag is expected to have been applied manually.
  production-orb-publishing:
    jobs:
      - pre-orb-promotion-check:
          filters: *orb_promotion_filters
      - hold-for-approval:
          type: approval
          requires:
            - pre-orb-promotion-check
          filters: *orb_promotion_filters
      - promote-orb-into-production:
          orb-name: circleci/helm
          orb-ref: dev:${CIRCLE_SHA1:0:7}
          context: orb-publishing
          requires:
            - hold-for-approval
          filters: *orb_promotion_filters
